<div class="row">
    <header class="space-top-10">    
            <img class="img-responsive" src="app/images/brand-06.svg" />       
    </header>
</div> 
<div class="row space-top-08">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <img class="img-responsive" src="app/images/icons-start-07.svg" />
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-7">
        <p class="green">
            2 players trying to<br />
            conquer each other.
        </p>
        <div class="space-top-20 text-center">
            <input class="form-control clearfix" type="text" data-ng-model="player1" placeholder="Player 1"/><br />
            <input class="form-control clearfix" type="text" data-ng-model="player2" placeholder="Player 2"/><br />
            <button class="btn btn-green" data-ng-click="startPlay()" data-ng-disabled="!player1 || !player2">Play</button>
        </div>
    </div>

</div>